* {
	box-sizing: border-box;
}

.tab-container {
	font-family: 'Roboto', sans-serif;
	color: rgba(68, 68, 68, 1);;
}

.tab-header-group {
	margin: 0 -3px -1px -3px;
	display: flex;
	flex-wrap: nowrap;
}

.tab-header {
	border: 1px solid black;
	border-bottom: none;
	margin: 0 3px;
	cursor: pointer;
	white-space: nowrap;
	font-weight: bold;
	background: rgba(244, 230, 225, 0.4);
	padding: 10px 15px;
	overflow-x: hidden;
	text-overflow: ellipsis;
	color: rgba(68, 68, 68, 0.4);
}

.tab-header.active {
	background: #F4E6E1;
	color: #47B0FF;
}

.tab-item-group {
	border: 1px solid black;
	background: #F4E6E1;
}

.tab-item {
	padding: 10px 15px;
	display: none;
}

@media (min-width: 768px) {
	.tab-item {
		padding: 20px 30px;
	}
}

.tab-item.active {
	display: block;
	opacity: 0;
	transition: opacity 0.5s;
}

.tab-item.transition {
	opacity: 1;
}