* {
	box-sizing: border-box;
}

.tabs {
	font-family: 'Roboto', sans-serif;
	color: rgba(68, 68, 68, 1);
	max-width: 900px;
}

.tabs__header-group {
	margin: 0 -3px -1px -3px;
	display: flex;
	flex-wrap: nowrap;
}

.tabs__header {
	font-size: 16px;
	line-height: 1.2;
	border: 1px solid black;
	border-bottom: none;
	margin: 0 3px;
	cursor: pointer;
	white-space: nowrap;
	font-weight: bold;
	background: rgba(244, 230, 225, 0.4);
	padding: 10px 15px;
	overflow-x: hidden;
	text-overflow: ellipsis;
	color: rgba(68, 68, 68, 0.4);
	user-select: none;
}

.tabs__header.active {
	background: #F4E6E1;
	color: #47B0FF;
}

.tabs__item-group {
	border: 1px solid black;
	background: #F4E6E1;
}

.tabs__item {
	width: 0;
	height: 0;
	overflow: hidden;
	opacity: 0;
	transition: opacity 0.5s;
}

.tabs__item.active {
	width: auto;
	height: auto;
	opacity: 1;
}

.tabs__item-inner {
	padding: 10px 15px;
}

@media (min-width: 768px) {
	.tabs__item-inner {
		padding: 20px 30px;
	}
}

p {
	margin: 15px 0;
}

p:first-child {
	margin-top: 0;
}

p:last-child {
	margin-bottom: 0;
}

img {
	vertical-align: top;
	width: 100%;
	max-width: 300px;
}